<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">

	<resultMap type="purchase" id="purchaseSelectMap">
		<result property="tranNo" 				column="TRAN_NO" 		 	jdbcType="NUMERIC"/>
  		<result property="purchaseProd.prodNo" 	column="PROD_NO" 			jdbcType="NUMERIC"/>
  		<result property="buyer.userId" 		column="BUYER_ID"			jdbcType="VARCHAR"/>
  		<result property="paymentOption"		column="PAYMENT_OPTION" 	jdbcType="CHAR"/>
  		<result property="receiverName" 		column="RECEIVER_NAME" 		jdbcType="VARCHAR"/>
  		<result property="receiverPhone" 		column="RECEIVER_PHONE" 	jdbcType="VARCHAR"/>
  		<result property="divyAddr" 			column="demailaddr" 		jdbcType="VARCHAR"/>
  		<result property="divyRequest" 			column="DLVY_REQUEST" 		jdbcType="VARCHAR"/>
  		<result property="tranCode" 			column="TRAN_STATUS_CODE" 	jdbcType="CHAR"/>
  		<result property="orderDate" 			column="ORDER_DATA" 		jdbcType="DATE"/>  		 
  		<result property="divyDate" 			column="DLVY_DATE"			jdbcType="VARCHAR"/>
  		<result property="review" 				column="review"				jdbcType="VARCHAR"/>
  		<result property="item" 				column="item"				jdbcType="NUMERIC"/>
  	</resultMap>
  	
  	<resultMap type="cart" id="cartSelectMap">
  		<result property="cartNo" 				column="CART_NO" 		 	jdbcType="NUMERIC"/>
  		<result property="prodNo" 	column="PROD_NO" 			jdbcType="NUMERIC"/>
  		<result property="userId" 		column="USER_ID"			jdbcType="VARCHAR"/>
  	</resultMap>
  	
  	<resultMap type="transaction" id="tranSelectMap">
  		<result property="purNo" 				column="PUR_NO" 		 	jdbcType="NUMERIC"/>
  		<result property="tranNo" 	column="TRAN_NO" 			jdbcType="NUMERIC"/>
  		<result property="prodNo" 	column="PROD_NO" 			jdbcType="NUMERIC"/>
  		<result property="userId" 		column="USER_ID"			jdbcType="VARCHAR"/>
  	</resultMap>
  	

  	
	<insert id="insertPurchase" parameterType="purchase">
		INSERT 
		INTO transaction
		VALUES (
					seq_transaction_tran_no.NEXTVAL,
					#{purchaseProd.prodNo:NUMERIC},
					#{buyer.userId:VARCHAR},
					#{paymentOption:CHAR},
					#{receiverName:VARCHAR},
					#{receiverPhone:VARCHAR},
					#{divyAddr:VARCHAR},
					#{divyRequest:VARCHAR},
					#{tranCode:CHAR},
					SYSDATE,
					#{divyDate:VARCHAR},
					#{review:VARCHAR},
					#{item:NUMERIC} )
	</insert>
	
	<insert id="insertTransaction" parameterType="transaction">
		INSERT 
		INTO purchase
		VALUES (
					seq_transaction_pur_no.NEXTVAL,
					#{tran_no:NUMERIC},
					#{prod_no:NUMERIC},
					#{buyer_id:VARCHAR})
	</insert>
	
	<update id="addReview" parameterType="map">
		UPDATE transaction SET review = #{review:VARCHAR} WHERE tran_no =  #{tranNo:NUMERIC}
	</update>
	
	<select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
  		SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM ( SELECT t.* 
										FROM transaction t, product p, users u 
										WHERE t.prod_no = p.prod_no 
										AND t.buyer_id = u.user_id 
										AND u.user_id = #{buyerId}
										ORDER BY tran_no  ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
	</select>
	
	<select id="getCartList" parameterType="map" resultMap="cartSelectMap">
  		SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM ( select * from cart where user_id = #{userId:VARCHAR}  ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
	</select>
	
	<select id="getReviewList" parameterType="search" resultMap="purchaseSelectMap">
  		SELECT * FROM transaction WHERE TRAN_STATUS_CODE = 6
	</select>

	 <select id="findPurchase" parameterType="int" resultMap="purchaseSelectMap">
  		SELECT 
		*
		FROM transaction
		WHERE tran_no = #{tranNo:NUMERIC}
  	</select>
  	
  	<select id="findPurchaseItem" parameterType="int" resultType="int">
  		SELECT 
		item
		FROM transaction
		WHERE tran_no = #{tranNo:NUMERIC}		
  	</select>
  	
  	 <select id="findProductItem" parameterType="int" resultType="int">
  		SELECT 
		p.item
		FROM product p, transaction t
		WHERE t.tran_no = #{tranNo:NUMERIC}	
		AND p.prod_no = t.prod_no
  	</select>
  	
  	 <select id="findCartCount" parameterType="int" resultType="int">
  		SELECT 
		COUNT(*) count
		FROM cart c, transaction t
		WHERE t.prod_no=c.prod_no 
		AND c.prod_no = #{prodNo:NUMERIC}
  	</select>
  	
  	 <update 	id="updatePurchase"	parameterType="purchase">
		UPDATE transaction
		<set>
			PAYMENT_OPTION = #{paymentOption},
			RECEIVER_NAME = #{receiverName},
			RECEIVER_PHONE = #{receiverPhone},
			DEMAILADDR = #{divyAddr},
			DLVY_REQUEST = #{divyRequest},
			DLVY_DATE = #{divyDate},
			item = #{item}		
		</set>  
		WHERE TRAN_NO = #{tranNo}
	 </update>
	 
	  <update 	id="updateReview"	parameterType="map">
		UPDATE transaction
		<set>
			review = #{review}	
		</set>  
		WHERE TRAN_NO = #{tranNo}
	 </update>
	 
	 <update 	id="updateProductItem"	parameterType="map">
	 UPDATE product
		<set>
			item = #{item:NUMERIC}		
		</set>  
		WHERE prod_no = #{prodNo:NUMERIC}
	 </update>
	 
	 <update 	id="updateItem"	parameterType="map">
		UPDATE product SET item = #{item:NUMERIC} WHERE prod_no = #{prodNo:NUMERIC}
	 </update>
	 
	 <update 	id="updateTranCode"	parameterType="map">
		UPDATE transaction
		SET TRAN_STATUS_CODE = #{tranCode:VARCHAR} 
		WHERE TRAN_NO = #{tranNo:NUMERIC}		
	</update>	 
	 
	  <delete  id="deleteCart"  parameterType="int"	>
	  	DELETE
	  	FROM
		cart
		WHERE prod_no = #{prodNo:NUMERIC}				
	 </delete>
	 
	  <update  id="deleteReview"  parameterType="int"	>
	  	UPDATE transaction SET review = NULL WHERE tran_no =  #{tranNo}		
	 </update>
  	
  	<select  id="getTotalCount"  parameterType="string"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM transaction 
						WHERE buyer_id = #{buyerId}
			 ) countTable						
	 </select>
	 
  	<select  id="getTotalCountCart"  parameterType="string"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM cart 
						WHERE user_id = #{userId}
			) countTable						
	 </select>
	 
	<select  id="getTotalCountReview" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	select * from TRANSACTION where TRAN_STATUS_CODE = 6
			) countTable						
	 </select>

</mapper>





